:root {
    --font-family: 'Inter', sans-serif;

    --card-title-color: #F503B2;
    --card-title-font: 32px;
    --card-info-color: #000000;
    --card-info-fontSize: 20px;
    --card-sale-button-backgroundColor: #EB2525;
    --card-sale-button-color: #171C8F;
    --card-sale-button-fontSize: 36px;
    --card-detail-button-fontSize: 22px;
    --card-detail-button-fontWeight: 700;
    --card-detail-button-color: #000000;

    --login-button-backgroundColor: #ED3535;
    --login-button-fontSize: 16px;
    --login-button-fontWeight: 700;
    

    --search-field-backgroundColor: #edf3f4;
    --find-button-backgroundColor: #403535;
    --div-booksmaylike-backgroundColor: #2f2b35;

    --homepage-text-messages-color:#F9F4F4;


    
  }